nav.nav(aria-label=nav.aria.label aria-hidden="false")
  ul.nav__list
    each item in nav.list
      li.nav__item
        a.nav__link(class=data.href===item.href ? "nav__item--active" : null href=data.href===item.href ? null : item.href) #{item.name}
