.button {
  display: block;
  font-weight: 600;
  z-index: 3;
  padding: 12px 39px;
  background-color: $color-primary;
  color: black;
  text-align: center;
  text-decoration: none;
  &--wide {
    padding: 25px 0;
    width: 100%;
  }
}
