.nav {
  position: absolute;
  top: 80px;
  left: -100vh;
  width: 100%;
  height: 100vh;

  transition: 0.2s linear;
  &--show {
    left: 0;
    background-color: $color-special;
  }
  @media #{$media-tablet} {
    position: static;
    width: initial;
    height: auto;
  }
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media #{$media-tablet} {
    display: flex;
    justify-content: space-between;
  }
}

.nav__link {
  display: block;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: $font-weight-bold;
  text-decoration: none;
  text-align: center;
  color: $color-bg;
  background-color: transparent;
  @media #{$media-tablet} {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color-base;
    background-color: $color-bg;
  }
}
