extends ../common/layout

block vars
  -
    const data = {
      href: "index.html",
      main: true,
      title: "Gulp Starter",
      description: "Gulp Starter project",
      keywords: "gulp, pug, scss, json",
      url: "",
      image: "og-logo"
    }

block content
  .overlay
