body {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color-base;
  background-color: $color-bg;
  letter-spacing: $letter-spacing;

  min-width: $width-mobile;

  @media #{$media-mobile} {
    min-width: $width-mobile;
  }
  @media #{$media-tablet} {
    min-width: $width-tablet;
  }
  @media #{$media-desktop} {
    min-width: $width-desktop;
  }
}

a {
  background-color: transparent;
  &:hover,
  &:focus {
    color: $color-hover;
    text-decoration: none;
  }
  &:active {
    color: $color-active;
  }
}

.popup-open {
  height: 100vh;
  overflow: hidden;
}
