/* Fonts */
$font-family: "Montserrat", Arial, sans-serif;
$font-size: 15px;
$font-weight: 400;
$line-height: 1.5;
$letter-spacing: 0;

$font-family-serif: "Merriweather", Georgia, serif;

$font-weight-bold: 600;
$font-weight-black: 900;

$font-size-title: 21px;
$font-size-title-special: 18px;


/* Colors*/
$color-base: rgb(45, 45, 45);
$color-bg: #ffffff;
$color-bg-special: #F0EAE7;
$color-primary: #52CADE;
$color-special: #8d39fa;
$color-hover: darken($color-primary, 15%);
$color-active: lighten($color-primary, 15%);

/* Dimensions */
$width-mobile: 320px;
$width-mobile-wide: 480px;
$width-tablet: 776px;
$width-desktop: 1440px;

/* Media */

/* Mobile-first */
$media-mobile: screen and (min-width: $width-mobile);
$media-mobile-wide: screen and (min-width: $width-mobile-wide);
$media-tablet: screen and (min-width: $width-tablet);
$media-desktop: screen and (min-width: $width-desktop);

/* Gaps */
$gap: 18px;
$gap-tablet: 30px;
$gap-desktop: 40px;
